# Knowledge Check 2

In [1]:
# Import Pandas package.
import pandas as pd

In [2]:
# Create DataFrame.
Loui_Weather_DF = pd.read_csv('Data/Louisville_Weather_File.csv')

In [3]:
Loui_Weather_DF.head()

,NAME,LATITUDE,LONGITUDE,DATE,PRCP,SNOW,TAVG,TMAX,TMIN,EVAP
0,"LOUISVILLE INT AIRPORT, KY US",38.17738,-85.73077,2022-01-01,2.08,0.0,61,64,55,NaN
1,"LOUISVILLE INT AIRPORT, KY US",38.17738,-85.73077,2022-01-02,0.01,0.0,46,57,31,NaN
2,"LOUISVILLE INT AIRPORT, KY US",38.17738,-85.73077,2022-01-03,0.00,0.0,31,37,25,NaN
3,"LOUISVILLE INT AIRPORT, KY US",38.17738,-85.73077,2022-01-04,0.00,0.0,32,46,24,NaN
4,"LOUISVILLE INT AIRPORT, KY US",38.17738,-85.73077,2022-01-05,0.00,0.0,46,50,30,NaN

In [4]:
# Rename columns.
Loui_Weather_DF.rename(columns={'PRCP': 'PRECIPITATION', 'TAVG': 'AVERAGE TEMP', 'TMAX': 'HIGH TEMP', 'TMIN': 'LOW TEMP', 'EVAP': 'EVAPORATION'}, inplace=True)

In [5]:
Loui_Weather_DF.head()

,NAME,LATITUDE,LONGITUDE,DATE,PRECIPITATION,SNOW,AVERAGE TEMP,HIGH TEMP,LOW TEMP,EVAPORATION
0,"LOUISVILLE INT AIRPORT, KY US",38.17738,-85.73077,2022-01-01,2.08,0.0,61,64,55,NaN
1,"LOUISVILLE INT AIRPORT, KY US",38.17738,-85.73077,2022-01-02,0.01,0.0,46,57,31,NaN
2,"LOUISVILLE INT AIRPORT, KY US",38.17738,-85.73077,2022-01-03,0.00,0.0,31,37,25,NaN
3,"LOUISVILLE INT AIRPORT, KY US",38.17738,-85.73077,2022-01-04,0.00,0.0,32,46,24,NaN
4,"LOUISVILLE INT AIRPORT, KY US",38.17738,-85.73077,2022-01-05,0.00,0.0,46,50,30,NaN

In [6]:
# Remove columns.
Loui_Weather_DF.drop(columns=['LATITUDE', 'LONGITUDE'], inplace=True)

In [7]:
Loui_Weather_DF.head()

,NAME,DATE,PRECIPITATION,SNOW,AVERAGE TEMP,HIGH TEMP,LOW TEMP,EVAPORATION
0,"LOUISVILLE INT AIRPORT, KY US",2022-01-01,2.08,0.0,61,64,55,NaN
1,"LOUISVILLE INT AIRPORT, KY US",2022-01-02,0.01,0.0,46,57,31,NaN
2,"LOUISVILLE INT AIRPORT, KY US",2022-01-03,0.00,0.0,31,37,25,NaN
3,"LOUISVILLE INT AIRPORT, KY US",2022-01-04,0.00,0.0,32,46,24,NaN
4,"LOUISVILLE INT AIRPORT, KY US",2022-01-05,0.00,0.0,46,50,30,NaN

In [8]:
# Replace NaN with 0. 
Loui_Weather_DF['EVAPORATION'] = Loui_Weather_DF['EVAPORATION'].fillna(0)

In [9]:
Loui_Weather_DF.head()

,NAME,DATE,PRECIPITATION,SNOW,AVERAGE TEMP,HIGH TEMP,LOW TEMP,EVAPORATION
0,"LOUISVILLE INT AIRPORT, KY US",2022-01-01,2.08,0.0,61,64,55,0.0
1,"LOUISVILLE INT AIRPORT, KY US",2022-01-02,0.01,0.0,46,57,31,0.0
2,"LOUISVILLE INT AIRPORT, KY US",2022-01-03,0.00,0.0,31,37,25,0.0
3,"LOUISVILLE INT AIRPORT, KY US",2022-01-04,0.00,0.0,32,46,24,0.0
4,"LOUISVILLE INT AIRPORT, KY US",2022-01-05,0.00,0.0,46,50,30,0.0